<footer>
    <div class="container">
      <div class="row">
          <div class="col-sm-6 text-center">
              &copy; <a href="{{site.uri.public}}">{{site.title}}</a>, {{ "now"|date("Y") }}
          </div>
          <div class="col-sm-6 text-center">
              Built with <a href="http://www.userfrosting.com">UserFrosting</a>.
          </div>        
      </div>
    </div>
</footer>

<!-- Javascript configuration -->
<script>
{% include "components/config.js.twig" %}
</script>

<!-- Load jQuery -->
<script src="//code.jquery.com/jquery-2.1.1.min.js" ></script>
<!-- Fallback if CDN is unavailable -->
<script>window.jQuery || document.write('<script src="{{ assets.url('assets://jquery-2.1.1/jquery.js', true) }}"><\/script>')</script>

{{ assets.js() | raw }}

{# This block allows you to create page-specific Javascript in a child template #}
{% block page_scripts %}{% endblock %}
