<div id='{{box_id}}' class='modal fade' data-width="760">
    <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>{{box_title}}</h4>
    </div>
    <div class='modal-body'>
        <form name="user_password" method="post" action="{{form_action}}">
            <div id="form-alerts">
            </div>
            <div class="row">           
                <div class="col-sm-6">  
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" name="password" autocomplete="off" value="" placeholder="8-50 characters">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" name="passwordc" autocomplete="off" value="" placeholder="Confirm password">
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-xs-8 col-sm-4">
                    <div class="vert-pad">
                        <button type="submit" class="btn btn-block btn-lg btn-success">
                            {{submit_button}}
                        </button>
                    </div>          
                </div>       
                <div class="col-xs-4 col-sm-3 pull-right">
                    <div class="vert-pad">
                        <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
// Load the validator rules for this form
var validators = {{validators | raw}};
</script>
