{# This is the layout template for error pages.  Note that there is no navigation bar. #}
{% extends "pages/abstract/base.html.twig" %}

{% block page_title %}{{ translate('ERROR.TITLE') }}{% endblock %}

{% block page_description %}{{ translate('ERROR.DESCRIPTION') }}{% endblock %}

{% block body %}
    <body {% block body_attributes %}{% endblock %}>
        <!-- Main content -->
        <section class="content">
          <div class="error-page">
            {% block headline %}<h2 class="headline text-red"><i class="fa fa-terminal" aria-hidden="true"></i></h2>{% endblock %}

            <div class="error-content">
              <br /><h3>{% block heading %}<i class="fa fa-warning text-red"></i> {{ translate('ERROR.ENCOUNTERED') }}{% endblock %}</h3>

              {% block content %}
                  {% if messages %}<p>{{ translate('ERROR.DETAIL') }}</p>{% endif %}
                  {% for message in messages %}
                    <div class="alert alert-danger">{{ translate(message.message, message.parameters) }}</div>
                  {% endfor %}
                  <p class="lead">{{ translate('ERROR.RETURN', {url : site.uri.public})|raw }}</p>
              {% endblock %}
            </div>
            <!-- /.error-content -->
          </div>
          <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </body>
{% endblock %}