{# This overrides the "home page" nav menu in core, adding a sign-up/sign-in or "my account" link. #}

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.uri.public}}">{{site.title}}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{site.uri.public}}/about">{{translate("ABOUT")}}</a>
                </li>
                {% if current_user.isGuest() %}
                    <li>
                        <a href="{{site.uri.public}}/account/sign-in-or-register" class="nav-highlight">{{translate("SIGNIN")}}</a>
                    </li>
                {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle nav-highlight" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.user_name}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{site.uri.public}}/account/settings"><i class="fa fa-gear fa-fw"></i> {{translate("ACCOUNT.MY")}}</a></li>
                        <li><a href="{{site.uri.public}}/admin" class=""><i class="fa fa-lock fa-fw"></i> {{translate("ADMIN.PANEL")}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{site.uri.public}}/account/logout"><i class="fa fa-sign-out fa-fw"></i> {{translate("LOGOUT")}}</a>
                      </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
