{# This is the base layout template for all pages.  #}

{# Default page properties.  You can override these in the `page` block of your child templates. #}
{% set uf_page = uf_page | default({}) | merge({
    "title"       : "New Page",
    "description" : "This page has not yet been configured.",
    "author"      : site.author,
    "alerts"      : getAlerts()
}) %}

{% block page %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="generator" content="UserFrosting" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta name="description" content="{{uf_page.description}}">
            <meta name="author" content="{{uf_page.author}}">
        
            <title>{{site.title}} | {{uf_page.title}}</title>
        
            <!-- Favicon -->
            <link rel="icon" type="image/x-icon" href="{{ assets.url('assets://images/favicon.ico') }}" />
            
            <!-- Include main CSS asset bundle -->
            {{ assets.css() | raw }}            
        
            <!-- Author link -->
            <link href="https://alexanderweissman.com" rel="author" />        
        
            <!-- Canonical link -->
            <link href="{{site.uri.base.scheme}}://{{uf_page.canonical}}" rel="canonical" />
      
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->  
            
        {% endblock %}
    </head>
    
    {% block body %}
        <body id="page-top" data-target=".navbar-fixed-top">
            {% include "components/main-nav.html.twig" %}
            
            {% block header %}{% endblock %}
            
            <!-- Page Content -->
            <div class="container">
                {% block content %}{% endblock %}
                {% include "components/footer.html.twig" %}
            </div>
            
            {# This block allows you to create page-specific Javascript in a child template #}
            {% block page_scripts %}{% endblock %}   
        </body>
    {% endblock %}
</html>
{% endblock %}
