{% extends "layouts/error.html.twig" %}

{% block page_title %}{{ translate('ERROR.404.TITLE') }}{% endblock %}

{% block page_description %}{{ translate('ERROR.404.DESCRIPTION') }}{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>{{ translate('ERROR.404.DETAIL') }}</h1>
        <img src="{{ assets.url('assets://images/404.png') }}">
        <br><br>
        <p class="lead">{{ translate('ERROR.404.EXPLAIN') }}</p>
        <p class="lead">{{ translate('ERROR.404.RETURN', {url: site.uri.public})|raw }}</p>
    </div> <!-- /container -->
{% endblock %}
