{% extends "pages/abstract/error.html.twig" %}

{% block page_title %}{{ translate('ERROR.CONFIG.TITLE') }}{% endblock %}

{% block page_description %}{{ translate('ERROR.CONFIG.DESCRIPTION') }}{% endblock %}

{% block heading %}<i class="fa fa-warning text-yellow"></i> {{ translate('ERROR.CONFIG.DETAIL') }}{% endblock %}

{% block content %}
    <p>{{ translate('ERROR.CONFIG.RETURN', {url: "#{site.uri.public}"})|raw }}.</p>

    {% autoescape false %}
    {% for message in messages %}
        <div class="list-group">
          <div class="list-group-item {% if message.success %}list-group-item-success{% else %}list-group-item-danger{% endif %}">
            <h4 class="list-group-item-heading">{{message.title}}</h4>
            <p class="list-group-item-text">{{message.message | raw}}</p>
          </div>
        </div>
    {% endfor %}
    {% endautoescape %}
{% endblock %}
