{% extends "layouts/dashboard.html.twig" %}

{# Overrides blocks in head of base template #}
{% block page_title %}Dashboard{% endblock %}
{% block page_description %}{% endblock %}

{% block body_matter %}
    <!-- Info boxes -->
    {% if checkAccess('uri_users') %}
    <div class="row">

        <div class="col-sm-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user fa-fw"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{ translate("USER", 2) }}</span>
              <span class="info-box-number">{{counter.users}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-sm-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-drivers-license"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{ translate("ROLE", 2) }}</span>
              <span class="info-box-number">{{counter.roles}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-sm-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{ translate("GROUP", 2) }}</span>
              <span class="info-box-number">{{counter.groups}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    {% elseif checkAccess('uri_group', {
        'group': current_user.group
    }) %}
    <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="{{current_user.group.icon}}"></i></span>
            <div class="info-box-content">
              <h1>{{current_user.group.name}}</h1>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user fa-fw"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{ translate("USER", 2) }}</span>
              <span class="info-box-number">{{counter.users}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    {% endif %}
    <!-- Info boxes -->
    <div class="row">
        <div class="col-sm-6 col-xs-12">
          <!-- USERS LIST -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Users</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <ul class="users-list clearfix">
                {% for user in users %}
                <li>
                  <img src="{{ user.avatar }}" alt="User Image">
                  <a class="users-list-name" href="{{site.uri.public}}/admin/users/u/{{user.user_name}}">{{user.first_name}} {{user.last_name}}</a>
                  <span class="users-list-date">{{ user.registered }}</span>
                </li>
                {% endfor %}
              </ul>
              <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="{{site.uri.public}}/admin/users" class="uppercase">View All Users</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!--/.box -->
        </div>
        <!-- /.col -->

        <div class="col-sm-6 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">System information</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>UserFrosting version</dt>
                    <dd>{{info.version.UF}}</dd>

                    <dt>PHP version</dt>
                    <dd>{{info.version.php}}</dd>

                    <dt>Webserver software</dt>
                    <dd>{{info.environment.SERVER_SOFTWARE}}</dd>

                    <dt>Database version</dt>
                    <dd>{{info.version.database.type}} {{info.version.database.version}}</dd>

                    <dt>Database name</dt>
                    <dd>{{info.database.name}}</dd>

                    <dt>Project directory</dt>
                    <dd>{{info.path.project}}</dd>

                    <dt>Site root url</dt>
                    <dd>{{site.uri.public}}</dd>

                    <dt>Loaded sprinkles</dt>
                    <dd>
                        {% for sprinkle in sprinkles %}
                        <div>{{sprinkle.name}}{% if sprinkle.version %} <small>({{sprinkle.version}})</small>{% endif %}</div>
                        {% endfor %}
                    </dd>
                  </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="js-clear-cache uppercase">{{ translate("CACHE.CLEAR") }}</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!--/.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block scripts_page %}
    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/dashboard') | raw }}

{% endblock %}