{% extends "layouts/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}Groups | {{group.name}}{% endblock %}

{% block page_description %}Group information page for {{group.name}}{% endblock %}

{% block body_matter %}
    <div class="row">
        {% if 'group' not in fields.hidden %}
        <div class="col-md-6">
            <div class="biginfo biginfo-blue">
                <div class="biginfo-icon">
                    <i class="{{group.icon}}"></i>
                </div>
                <div class="biginfo-header">
                    {{group.name}}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="view-group" class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left"><i class="fa fa-fw fa-tag"></i> {{group.name}}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    {% include "components/forms/group.html.twig" %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="widget-group-users" class="panel panel-primary">
                <div class="panel-heading panel-heading-buttons clearfix">
                    <h3 class="panel-title pull-left"><i class="fa fa-users"></i> Users</h3>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default js-download-table">Download CSV</button>
                    </div>
                </div>
                <div class="panel-body">
                    {% include "components/tables/users.html.twig" with {
                            "table" : {
                                "id" : "table-group-users"
                            }
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page variables -->
    <script>
    {% include "components/page.js.twig" %}

    // Add user name
    page = $.extend(
        true,               // deep extend
        {
            "group_slug": "{{group.slug}}"
        },
        page
    );
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/group') | raw }}
{% endblock %}
