{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("GROUP", 2) }}{% endblock %}

{% block page_description %}{{ translate("GROUP.PAGE_DESCRIPTION") }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-groups" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fas fa-fw fa-users"></i> {{translate('GROUP', 2)}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div class="box-body">
                    {% include "tables/groups.html.twig" with {
                            "table" : {
                                "id" : "table-groups"
                            }
                        }
                    %}
                </div>
                {% if checkAccess('create_group') %}
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-group-create">
                        <i class="fas fa-plus-square"></i>  {{translate("GROUP.CREATE")}}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/groups') | raw }}

{% endblock %}
