{% extends "layouts/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("USER", 2)}} | {{user.user_name}}{% endblock %}

{% block page_description %}{{ translate("USER.INFO_PAGE", {name: user.user_name}) }}{% endblock %}

{% block body_matter %}
    <div class="row">
        {% if 'group' not in fields.hidden %}
        <div class="col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="{{user.group.icon}}"></i></span>
            <div class="info-box-content">
              <span class="info-box-number">{{user.user_name}}</span>
              <span class="info-box-text">{{user.group.name}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="view-user">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-fw fa-user"></i> {{user.user_name}}</h2>
                    </div>
                    <div class="box-body">
                        {% include "components/forms/user.html.twig" %}
                    </div>
                </div>
                {% if form.edit_buttons %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-fw fa-wrench"></i> {{translate("ACCOUNT.TOOLS")}}</h2>
                    </div>
                    <div class="box-body">
                        {% if 'password' not in form.edit_buttons.hidden %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="vert-pad">
                                <button type="button" class="btn btn-block btn-md btn-primary js-user-password" data-user_name="{{user.user_name}}">
                                    <i class="fa fa-lock"></i> {{translate('PASSWORD')}}
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'roles' not in form.edit_buttons.hidden %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="vert-pad">
                                <button type="button" class="btn btn-block btn-md btn-primary js-user-roles" data-user_name="{{user.user_name}}">
                                    <i class="fa fa-drivers-license"></i> {{translate('ROLE', 2)}}
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'activate' not in form.edit_buttons.hidden and user.flag_verified == "0" %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="vert-pad">
                                <button type="button" class="btn btn-block btn-md btn-warning js-user-activate" data-user_name="{{user.user_name}}">
                                    <i class="fa fa-bolt"></i> {{translate('ACTIVATE')}}
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'enable' not in form.edit_buttons.hidden %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="vert-pad">
                                {% if user.flag_enabled == "1" %}
                                    <button type="button" class="btn btn-block btn-md btn-warning js-user-disable" data-user_name="{{user.user_name}}">
                                        <i class="fa fa-minus-circle"></i> {{translate('DISABLE')}}
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-block btn-md btn-warning js-user-enable" data-user_name="{{user.user_name}}">
                                        <i class="fa fa-plus-circle"></i> {{translate('ENABLE')}}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        {% if 'delete' not in form.edit_buttons.hidden %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="vert-pad">
                                <button type="button" class="btn btn-block btn-md btn-danger js-user-delete" data-user_name="{{user.user_name}}">
                                    <i class="fa fa-trash-o"></i> {{translate('DELETE')}}
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div id="widget-user-activities" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-tasks"></i> {{translate('ACTIVITY', 2)}}</h3>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default js-download-table">{{ translate("DOWNLOAD.CSV") }}</button>
                    </div>
                </div>
                <div class="box-body">
                    {% include "components/tables/activities.html.twig" with {
                            "table" : {
                                "id" : "table-user-activities"
                            }
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page variables -->
    <script>
    {% include "components/page.js.twig" %}

    // Add user name
    page = $.extend(
        true,               // deep extend
        {
            "user_name": "{{user.user_name}}"
        },
        page
    );
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/user') | raw }}
{% endblock %}
