{% extends "layouts/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}Users | {{user.user_name}}{% endblock %}

{% block page_description %}User information page for {{user.user_name}}{% endblock %}

{% block body_matter %}
    <div class="row">
        {% if 'group' not in fields.hidden %}
        <div class="col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="{{user.group.icon}}"></i></span>
            <div class="info-box-content">
              <span class="info-box-number">{{user.user_name}}</span>
              <span class="info-box-text">{{user.group.name}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="view-user" class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left"><i class="fa fa-fw fa-user"></i> {{user.user_name}}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    {% include "components/forms/user.html.twig" %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="widget-user-activities" class="panel panel-primary">
                <div class="panel-heading panel-heading-buttons clearfix">
                    <h3 class="panel-title pull-left"><i class="fa fa-fw fa-tasks"></i> {{translate('ACTIVITY', 2)}}</h3>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default js-download-table">Download CSV</button>
                    </div>
                </div>
                <div class="panel-body">
                    {% include "components/tables/activities.html.twig" with {
                            "table" : {
                                "id" : "table-user-activities"
                            }
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page variables -->
    <script>
    {% include "components/page.js.twig" %}

    // Add user name
    page = $.extend(
        true,               // deep extend
        {
            "user_name": "{{user.user_name}}"
        },
        page
    );
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/user') | raw }}
{% endblock %}
