<!-- Prevent browsers from trying to autofill the password field.  See http://stackoverflow.com/a/23234498/2970321 -->
<input type="text" style="display:none">
<input type="password" style="display:none">
<div class="col-sm-12">
    <div class="radio">
        <label for="change_password_mode_link">
          <input type="radio" name="change_password_mode" id="change_password_mode_link" value="link" checked>
          {{translate("USER.ADMIN.SEND_PASSWORD_LINK")}}
        </label>
    </div>
</div>
<div class="col-sm-12">
    <div class="radio">
        <label for="change_password_mode_manual">
          <input type="radio" name="change_password_mode" id="change_password_mode_manual" value="manual">
          {{translate("USER.ADMIN.SET_PASSWORD")}}:
        </label>
    </div>
    <div class="row controls-password">
        <div class="col-sm-11 col-sm-offset-1">
            <div class="form-group">
                <label>{{translate('PASSWORD')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-key"></i></span>
                    <input type="password" class="form-control" name="password" autocomplete="off" value="" placeholder="{{translate('PASSWORD.BETWEEN', {min: site.password.length.min, max: site.password.length.max})}}">
                </div>
            </div>
            <div class="form-group">
                <label>{{translate('PASSWORD.CONFIRM')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-key"></i></span>
                    <input type="password" class="form-control" name="passwordc" autocomplete="off" value="" placeholder="{{translate('PASSWORD.CONFIRM')}}">
                </div>
            </div>
        </div>
    </div>
</div>
