{% block subject %}
    {{site.title}} - please set a password for your new account 
{% endblock %}

{% block body %}
<p>
    Dear {{user.first_name}},
</p>
<p>
    Someone has created an account for you with {{site.title}} ({{site.uri.public}}).  Your username is <b>{{user.user_name}}</b>.
</p>
<p>
    To access your account, you must first create a password by visiting: <a href="{{site.uri.public}}/account/set-password/confirm?token={{token}}">{{site.uri.public}}/account/set-password/confirm?token={{token}}</a>.  This link has been generated especially for you, and will expire in {{create_password_expiration}}.  Do not share it with anyone!
</p>
<p>
    With regards,<br>
    The {{site.title}} Team
</p>
{% endblock %}