{% block subject %}
    {{site.title}} - your password reset request
{% endblock %}

{% block body %}
<p>Dear {{user.first_name}},
</p>
<p>
A lost password request has been submitted for your account with {{site.title}} ({{site.uri.public}}) on {{request_date | date('m/d/Y g:i A')}}.
</p>
<p>
If you or someone you trust sent this request, and you wish to set a new password, please click this link: <a href="{{site.uri.public}}/account/set-password/confirm?token={{token}}">{{site.uri.public}}/account/set-password/confirm?token={{token}}</a>
</p>

<p>
If you did <b>not</b> expect this email, you may click this link to cancel the request: <a href="{{site.uri.public}}/account/set-password/deny?token={{token}}">{{site.uri.public}}/account/set-password/deny?token={{token}}</a>, or simply do nothing and the request will expire on its own.
</p>
<p>
With regards,<br>
The {{site.title}} Team
</p>
{% endblock %}