{% block subject %}
    {{site.site_title}} - your password reset request
{% endblock %}

{% block body %}
<p>Dear {{user.display_name}},
</p>
<p>
A lost password request has been submitted for your account with {{site.site_title}} ({{site.uri.public}}) on {{request_date}}.
</p>
<p>
If you or someone you trust sent this request, and you wish to set a new password, please click this link: <a href="{{site.uri.public}}/account/reset-password?secret_token={{user.secret_token}}&confirm=true">{{site.uri.public}}/account/reset-password?secret_token={{user.secret_token}}&confirm=true</a>
</p>

<p>
If you did <b>not</b> expect this email, you may click this link to cancel the request: <a href="{{site.uri.public}}/account/reset-password?secret_token={{user.secret_token}}&confirm=false">{{site.uri.public}}/account/reset-password?secret_token={{user.secret_token}}&confirm=false</a>, or simply do nothing and the request will expire on its own.
</p>
<p>
With regards,<br>
The {{site.site_title}} Team
</p>
{% endblock %}