{% block subject %}
    Welcome to {{site.title}} - please verify your account
{% endblock %}

{% block body %}
<p>Dear {{user.first_name}},
</p>
<p>
You are receiving this email because you registered with {{site.title}} ({{site.uri.public}}).
</p>
<p>
You will need to verify your account before you can login. Please follow the link below to verify your account.
</p>
<p>
<a href="{{site.uri.public}}/account/verify?token={{token}}">{{site.uri.public}}/account/verify?token={{token}}</a>
</p>
<p>
With regards,<br>
The {{site.title}} Team
</p>
{% endblock %}
