{% extends "pages/abstract/base.html.twig" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("ACCOUNT.VERIFICATION.RESEND")}}{% endblock %}

{% block page_description %}{{translate("ACCOUNT.VERIFICATION.PAGE")}}{% endblock %}

{% block body_attributes %}
    class="hold-transition login-page"
{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="{{site.uri.public}}">{{site.title}}</a>
    </div>
    <!-- /.login-logo -->

    <div class="login-box-body login-form">
        <p class="login-box-msg"><strong>{{translate("ACCOUNT.VERIFICATION.RESEND")}}</strong></p>
        <p class="login-box-msg">{{translate("ACCOUNT.VERIFICATION.EMAIL")}}</p>

        <div class="form-alerts" id="alerts-page"></div>

        <form id="request-verification-email" role="form" action="{{site.uri.public}}/account/resend-verification" method="post" class="r-form">
            {% include "forms/csrf.html.twig" %}
            <div class="form-group">
                <label class="sr-only" for="verification-form-email">{{translate("EMAIL")}}</label>
                <input type="text" name="email" placeholder="{{translate("EMAIL")}}" class="form-control" id="verification-form-email">
            </div>
            <button type="submit" class="btn btn-block btn-primary">{{translate("ACCOUNT.VERIFICATION.SEND")}}</button>
        </form>
    </div>
    <!-- /.login-box-body -->
{% endblock %}

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/resend-verification') | raw }}

{% endblock %}
