<p>Dear {{user.display_name}},
</p>
<p>
You are receiving this email because you registered with {{site.site_title}} ({{site.uri.public}}).
</p>
<p>
You will need to activate your account before you can login. Please follow the link below to activate your account.
</p>
<p>
<a href="{{site.uri.public}}/account/activate?activation_token={{user.activation_token}}">{{site.uri.public}}/account/activate?activation_token={{user.activation_token}}</a>
</p>
<p>
With regards,<br>
The {{site.site_title}} Team
</p>
