{% block subject %}
    Welcome to {{site.site_title}} - please activate your account
{% endblock %}

{% block body %}
<p>Dear {{user.display_name}},
</p>
<p>
You are receiving this email because you registered with {{site.site_title}} ({{site.uri.public}}).
</p>
<p>
You will need to activate your account before you can login. Please follow the link below to activate your account.
</p>
<p>
<a href="{{site.uri.public}}/account/activate?secret_token={{user.secret_token}}">{{site.uri.public}}/account/activate?secret_token={{user.secret_token}}</a>
</p>
<p>
With regards,<br>
The {{site.site_title}} Team
</p>
{% endblock %}
