<p>Dear {{user.display_name}},
</p>
<p>
A lost password request has been submitted for your account with {{site.site_title}} ({{site.uri.public}}) on {{request_date}}.
</p>
<p>
To confirm that you have sent this request, please click this link: <a href="{{site.uri.public}}/account/reset-password?activation_token={{user.activation_token}}&confirm=true">{{site.uri.public}}/account/reset-password?activation_token={{user.activation_token}}&confirm=true</a>
</p>

<p>
If you did <b>not</b> initiate this request, please click this link to deny: <a href="{{site.uri.public}}/account/reset-password?activation_token={{user.activation_token}}&confirm=false">{{site.uri.public}}/account/reset-password?activation_token={{user.activation_token}}&confirm=false</a>
</p>
<p>
With regards,<br>
The {{site.site_title}} Team
</p>
