{% extends "layouts/basic.html.twig" %}

{# This is an example of when we might want to override the site-level stylesheets for a particular page or page group. #}
{% block stylesheets_site %}
    <!-- Google Font - use remote for now -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

    <!-- Include main CSS asset bundle -->
    {{ assets.css() | raw }}
{% endblock %}

{% block stylesheets_page_group %}
    <!-- Page-group-specific CSS asset bundle -->
    {{ assets.css('css/azmind') | raw }}
{% endblock %}

{% block content %}
    <!-- Top content -->
    <div class="top-content">
        <div class="container">
            {% block body_matter %}{% endblock %}
        </div>
    </div>

{% endblock %}

{% block footer %}
<footer>
    <div class="container">
      <div class="row">
          <div class="col-sm-6 text-left">
              <p>
                {{translate('BUILT_WITH_UF') | raw}}
              </p>
              <p>
                &copy; <a href="{{site.uri.public}}">{{site.title}}</a>, {{ "now"|date("Y") }}
              </p>
          </div>
          <div class="col-sm-6 text-left">
              <p>{{translate('AZMIND_STYLE_CREDIT') | raw }}</p>
          </div>
      </div>
    </div>
</footer>
{% endblock %}

{% block scripts_page_group %}
    <!-- Add URL for background image to JS 'site' variable -->
    <script>
    site = $.extend(
        true,               // deep extend
        {
            "uri": {
                "images": {
                    "background" : "{{ assets.url('assets://local/azmind/images/login-background.jpg') | raw }}"
                }
            },
            "registration" : {
                "enabled" : "{{site.registration.enabled}}"
            }
        },
        site
    );
    </script>

    <!--[if lt IE 10]>
        <script src="{{ assets.url('assets://local/azmind/js/placeholder.js') | raw }}"></script>
    <![endif]-->

    <!-- Page-group-specific JS asset bundle -->
    {{ assets.js('js/azmind') | raw }}
{% endblock %}
